<h1>Module open/close dates</h1>

<table id="datetable" class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th>Module</th>
    <th>Open</th>
    <th>Close</th>
    <th>Term</th>
    <th>Actions</th>   
  </tr>
</thead>
<% @moduledates.each do |moduledate| %>
  <tr>
    <td><%= moduledate.name %></td>
    <td><%= moduledate.opendate %></td>
    <td><%= moduledate.closedate %></td>
    <td><%= moduledate.termvalue %></td>
    <td colspan="3"><%= link_to 'Show', moduledate %>
    <%= link_to 'Edit', edit_moduledate_path(moduledate) %>
    <%= link_to 'Destroy', moduledate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Module Date', new_moduledate_path, {:class => 'btn btn-info'}  %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script> 

<script type="text/javascript">
$(document).ready(function(){
 $('#datetable').dataTable();
});
</script>